/*--FOOTER--*/
footer{
    padding: 20px 5px;
    background-color:#fff;
}

footer section{
    width: 90%;
    margin: 30px auto;
}

footer section i, footer section h3, footer section p{
    text-align: center;
    cursor: default;
}

footer section i{
    width:100%;
    color: var(--celeste);
    font-size: 2em;
    margin:0 auto 15px;
    display:block;
    transition: color .5s;
}

footer section:hover i{
    color: #0022AA;
}

footer section h3{
    margin:0 0 5px;
}

footer section h3, footer p{
    color: var(--grisOscuro);
}

/*--DISEÑO ADAPTATIVO--*/
/*-tablet-*/
@media (min-width: 361px){
    footer section{
        width: 70%;
    }
}

/*-desktop-*/
@media (min-width: 769px){
    footer{
        display:flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    footer section{
        width: 30%;
    }

    footer p{
        width:100%;
        padding: 0 0 0 30px;
    }
    
}