/*--MAIN--*/
.home main{
    width:100%;
    margin: 0 auto 20px;
}

.home .productos{
    width: 90%;
    margin: 0 auto;
}

.home .ultimaVista,.home .ofertas{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    align-items: flex-start;
}

.home .ultimaVista h2,.home .ofertas h2{
    width: 100%;
    font-size:24px;
    margin: 20px 0;
}

.home .producto{
    width: 100%;
    border: 1px solid var(--grisClaro);
    margin: 10px 0;
    background-color: #fff;
}

.home .poductoDetalles{
    border-top:1px solid var(--grisClaro);
    padding: 15px;
    position:relative;
}

.home .precio-descuento{
    display: flex;
    align-items: baseline;
}

.home .envio{
    background-color:#fff;
    width: 30px;
    height: 30px;
    border:1px solid  var(--verde);
    border-radius:50%;
    text-align:center;
    line-height: 30px;
    display:block;
    position: absolute ;
    right: 20px;
    top: -15px;
    transition: transform .5s;
    transform: rotate(0deg);
}

.home .envio:hover{
    transition: transform .5s;
    transform: rotate(-90deg);
}

.home .envio i,.home .descuento{
    color: var(--verde);
}

.home .precio{
    font-size:18px;
    flex-grow: 0.3;
}

.home .descuento{
    font-size:16px;
    text-transform: lowercase;
    flex-grow: 0.7;
}

.home .descripcion{
    margin: 10px 0 0;
    font-size:16px;
    display:none;
}

.home .producto:hover .descripcion {
    display:block;
}

/*--DISEÑO ADAPTATIVO--*/
/*-tablet-*/
@media (min-width: 361px){
    /*--MAIN--*/

    .home main .baner{
        width: 112%;
        margin:0 -6.5%;
    }

    .home main{
        width:90%;
        margin: 0 auto 20px;
    }
    .home .producto{
        width: 45%;
        box-shadow:0;
        margin: 0 0 25px;
        transition:box-shadow .5s;
    }

    .home .producto:hover{
        box-shadow: 0px 0px 10px rgb( 100 , 100 , 100 );
    }

}

/*-desktop-*/
@media (min-width: 769px){
    .home main{
        width:90%;
        margin: 0 auto 20px;
    }

    /*--HEADER--*/
    .home header nav li{
        margin: 0 10px;
    }
    /*--MAIN--*/
    .home .producto{
        width: 22%;
        cursor:pointer;
    }
}